{{define "subject"}}Welcome to Gym Ops!{{end}}

{{define "plainBody"}}
Hi {{.name}},

Thanks for signing up for a Gym Ops account. We're excited to have you on board!

Here is your OTP for email verification.

{{.code}}

Please note that this is a one-time use verification and it will expire in 20 minutes.

Thanks,

If you did not request this email, please ignore.

Gym Ops Team
{{end}}

{{define "htmlBody"}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>Hi, {{.name}}</p>
        <p>Thanks for signing up for a Gym Ops account. We're excited to have you on board!</p>
        <p>Here is your OTP for email verification.</p>
        <h1>{{.code}}</h1>
        <p>Please note that this is a one-time use verification and it will expire in 10 minutes.</p>

        <p>Thanks,</p>

        <p>If you did not request this email, please ignore.</p>

        <p>Gym Ops Team</p>
    </body>
</html>

{{end}}